<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">


<head>
    <meta charset="UTF-8">
    <title>Modification Fournisseur</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Formulaire de modification de Fournisseur</h3>
            </div>
            <div class="panel-body">
    <form method="post" th:action="@{savefor}">
        <div class="col-12">
            <label>ID de Fournisseur:</label>
            <label th:text="${fournisseur.id}"></label>
            <input class="form-control" type="hidden" name="id" th:value="${fournisseur.id}">

        </div>
        <div class="col-12">
            <label for="nom">Nom de Fournisseur</label>
            <input id="nom" class="form-control" type="text" name="nom" th:value="${fournisseur.nom}">
            <span class="text-danger" th:errors="${fournisseur.nom}"></span>

        </div>
        <div class="col-12">
            <label for="adresse">Adresse de Fournisseur</label>
            <input id="adresse" class="form-control" type="text" name="adresse" th:value="${fournisseur.adresse}">
            <span class="text-danger" th:errors="${fournisseur.adresse}"></span>

        </div>
        <div class="col-12">
            <label for="email">Email de Fournisseur</label>
            <input id="email" class="form-control" type="email" name="email" th:value="${fournisseur.email}">
            <span class="text-danger" th:errors="${fournisseur.email}"></span>

            <div class="col-12">
        <div>
            <button onclick="return confirm('Êtes-vous sûr ?')"
                    type="submit" class="btn btn-primary">Enregistrer</button>
        </div>


    </form>

            </div>
        </div>
    </div>

</div>

</body>

</html>